In [2]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.7.6-py3-none-macosx_10_15_x86_64.macosx_11_0_x86_64.macosx_12_0_x86_64.whl (1.8 MB)
     |████████████████████████████████| 1.8 MB 7.1 MB/s eta 0:00:01
Requirement already satisfied: numpy in /Users/iseunghyeon/opt/anaconda3/lib/python3.9/site-packages (from xgboost) (1.25.2)
Requirement already satisfied: scipy in /Users/iseunghyeon/opt/anaconda3/lib/python3.9/site-packages (from xgboost) (1.10.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.6
Note: you may need to restart the kernel to use updated packages.

In [67]:
import pandas as pd
import requests
import json
from tqdm import tqdm
import warnings
warnings.filterwarnings(action='ignore') 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# 모델
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor

In [31]:
data = pd.read_pickle('/Users/iseunghyeon/Desktop/프로젝트/data/서울시따릉이자전거/서울시따릉이반경0.5km.pickle')
data['RENT_CNT'] =data['RENT_CNT'].astype('int')
data['RTN_CNT'] =data['RTN_CNT'].astype('int')

In [ ]:
data.info()

In [34]:
data = data.fillna(0)

In [71]:
data.describe()

,대여소번호,RENT_CNT,RTN_CNT,MT1,CS2,PS3,SC4,AC5,PK6,OL7,...,BK9,CT1,AG2,PO3,AT4,AD5,FD6,CE7,HP8,PM9
count,2693.000000,2693.000000,2693.000000,2693.000000,2693.000000,2693.000000,2693.000000,2693.000000,2693.000000,2693.000000,...,2693.000000,2693.000000,2693.000000,2693.000000,2693.000000,2693.000000,2693.000000,2693.000000,2693.000000,2693.000000
mean,2315.530635,57.614928,56.831786,1.063498,19.500557,11.877831,2.511326,59.257334,22.635351,0.919792,...,22.269588,5.583364,57.923877,2.797623,1.431118,8.079094,288.576680,72.608244,35.161901,11.716302
std,1545.741838,52.290926,53.616223,1.014044,11.640148,6.666955,1.909243,62.456180,21.708712,1.027966,...,20.120830,13.657568,36.334214,3.609089,2.550855,16.183134,248.779072,71.674920,36.735225,8.682386
min,102.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1001.000000,22.000000,20.000000,0.000000,11.000000,7.000000,1.000000,24.000000,8.000000,0.000000,...,10.000000,0.000000,31.000000,1.000000,0.000000,0.000000,108.000000,27.000000,12.000000,5.000000
50%,2036.000000,44.000000,43.000000,1.000000,18.000000,11.000000,2.000000,45.000000,16.000000,1.000000,...,18.000000,2.000000,53.000000,2.000000,1.000000,2.000000,224.000000,51.000000,27.000000,10.000000
75%,3714.000000,76.000000,75.000000,2.000000,26.000000,16.000000,4.000000,75.000000,29.000000,1.000000,...,27.000000,4.000000,79.000000,3.000000,2.000000,7.000000,398.000000,91.000000,47.000000,16.000000
max,6054.000000,694.000000,692.000000,6.000000,67.000000,45.000000,11.000000,803.000000,157.000000,6.000000,...,191.000000,197.000000,294.000000,36.000000,34.000000,145.000000,1583.000000,587.000000,410.000000,55.000000

In [72]:
drop_col=['대여소번호','RENT_CNT','RTN_CNT','AC5','AG2','CE7','HP8']
# Separate features and target variable
X = data.drop(drop_col, axis=1)
y = data['RENT_CNT']

In [73]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [74]:
# scaler = StandardScaler()
scaler = MinMaxScaler()

# Fit the scaler on the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [75]:
# # Create XGBoost regressor model
# model = xgb.XGBRegressor(
#     n_estimators=100,  # Number of boosting rounds
#     max_depth=3,       # Maximum tree depth
#     learning_rate=0.1, # Learning rate
#     random_state=42    # Seed for reproducibility
# )

# # Train the model
# model.fit(X_train, y_train)

model = RandomForestRegressor(
    n_estimators=100,   # Number of trees in the forest
    max_depth=5,         # Maximum depth of each tree
    random_state=42      # Seed for reproducibility
)

model.fit(X_train, y_train)

RandomForestRegressor(max_depth=5, random_state=42)

In [76]:
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse:.2f}')

r2 = r2_score(y_test, y_pred)
print(f'R2 Score: {r2:.2f}')

Mean Squared Error: 2383.98
R2 Score: 0.15

In [ ]:
import pandas as pd
import statsmodels.api as sm

# Load your regression dataset


# Define the formula for the regression model
formula = "target_column ~ feature1 + feature2 + feature3"

# Create the OLS model using the formula
model = sm.OLS.from_formula(formula, data=data)

# Fit the model to the data
result = model.fit()

# Print the summary of the regression model
print(result.summary())

# New data for prediction (replace with actual new data)
new_data = pd.DataFrame({
    'feature1': [value1],
    'feature2': [value2],
    'feature3': [value3]
})

# Make predictions on new data
predictions = result.predict(new_data)

# Print the predicted values
print("Predicted Values:")
print(predictions)