In [1]:
import pandas as pd
import requests
import json
from tqdm import tqdm
import warnings
warnings.filterwarnings(action='ignore') 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [53]:
# /Users/iseunghyeon/Desktop/프로젝트/data/제조업체/제조업체데이터0819.pickle
cmp1 = pd.read_pickle('/Users/iseunghyeon/Desktop/프로젝트/data/제조업체/제조업체데이터0819.pickle')
cmp2 = pd.read_pickle('/Users/iseunghyeon/Desktop/프로젝트/data/산업단지/산업단지byAPI_0817.pickle')
cmp2.rename(columns={'회사명':'회사'},inplace=True)
cmp1['회사구분'] ='제조업체'
cmp2['회사구분'] ='산업단지'
cmp1 = cmp1[['회사','byAPI','회사구분']]
cmp2 = cmp2[['회사','byAPI','회사구분']]
cmpAll = pd.concat([cmp1,cmp2],axis=0)
cmp1.head()
cmp2.head()
cmpAll.head()

             회사                                              byAPI  회사구분
0     (주)동아수지산업  {'address': {'address_name': '충남 천안시 서북구 직산읍 마...  제조업체
1         KY컴퍼니  {'address': {'address_name': '충남 천안시 서북구 직산읍 마...  제조업체
2        N&P시스템  {'address': {'address_name': '충남 천안시 서북구 직산읍 마...  제조업체
3         RP이엔지  {'address': {'address_name': '충남 천안시 서북구 직산읍 마...  제조업체
4          남주테크  {'address': {'address_name': '충남 천안시 서북구 직산읍 마...  제조업체

           회사                                              byAPI  회사구분
0     주식회사 두코  {'address': {'address_name': '충남 천안시 서북구 직산읍 삼...  산업단지
1  (주)케이와이컴퍼니  {'address': {'address_name': '충남 천안시 서북구 직산읍 마...  산업단지
2    주식회사 바이콘  {'address': {'address_name': '충남 천안시 서북구 직산읍 삼...  산업단지
3     (주)인피닉스  {'address': {'address_name': '충남 천안시 서북구 직산읍 삼...  산업단지
4    (주)에스피에스  {'address': {'address_name': '충남 천안시 서북구 직산읍 삼...  산업단지

             회사                                              byAPI  회사구분
0     (주)동아수지산업  {'address': {'address_name': '충남 천안시 서북구 직산읍 마...  제조업체
1         KY컴퍼니  {'address': {'address_name': '충남 천안시 서북구 직산읍 마...  제조업체
2        N&P시스템  {'address': {'address_name': '충남 천안시 서북구 직산읍 마...  제조업체
3         RP이엔지  {'address': {'address_name': '충남 천안시 서북구 직산읍 마...  제조업체
4          남주테크  {'address': {'address_name': '충남 천안시 서북구 직산읍 마...  제조업체

In [54]:
cmpAll.reset_index(inplace=True,drop=True)

In [55]:
cmpAll.loc[0,'byAPI'].get('x')

'127.103428417573'

In [56]:
cmpAll['x'] = cmpAll['byAPI'].apply(lambda elm: elm.get('x', {}))
cmpAll['y'] = cmpAll['byAPI'].apply(lambda elm: elm.get('y', {}))
cmpAll.head()

,회사,byAPI,회사구분,x,y
0,(주)동아수지산업,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,제조업체,127.103428417573,36.8656506084092
1,KY컴퍼니,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,제조업체,127.104524303521,36.8662931269303
2,N&P시스템,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,제조업체,127.103432997372,36.8659698650003
3,RP이엔지,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,제조업체,127.102341642294,36.8653507611359
4,남주테크,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,제조업체,127.102749590215,36.8646478195452

In [115]:
cmpAll['x'] = cmpAll['x'].astype('float64')
cmpAll['y'] = cmpAll['y'].astype('float64')
cmpAll['location'] = pd.Series(zip(cmpAll['y'],cmpAll['x']))
cmpAll.head(2)

,회사,byAPI,회사구분,x,y,location
0,(주)동아수지산업,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,제조업체,127.103428,36.865651,"(36.8656506084092, 127.103428417573)"
1,KY컴퍼니,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,제조업체,127.104524,36.866293,"(36.8662931269303, 127.104524303521)"

In [139]:
house = pd.read_pickle('/Users/iseunghyeon/Desktop/프로젝트/data/주거단지/addressByAPIpickle08191010.pickle')
house.head(2)
house_cp = house[['건물명','byAPI']]
house_cp.head(2)

,관리번호,일련번호,법정동코드,시도명,시군구명,법정읍면동명,법정리명,산여부,번지,호,대표여부,건물명,address_name,byAPI
0,4413110100100430000014153,1.0,4413110100,충청남도,천안시 동남구,대흥동,NaN,0.0,43.0,0.0,1.0,천안맨션아파트,충남 천안시 동남구 대흥로 267,{'address': {'address_name': '충남 천안시 동남구 대흥동 4...
1,4413110100101650000019452,1.0,4413110100,충청남도,천안시 동남구,대흥동,NaN,0.0,165.0,0.0,1.0,미도아파트,충남 천안시 동남구 옛시청길 6,{'address': {'address_name': '충남 천안시 동남구 대흥동 1...

       건물명                                              byAPI
0  천안맨션아파트  {'address': {'address_name': '충남 천안시 동남구 대흥동 4...
1    미도아파트  {'address': {'address_name': '충남 천안시 동남구 대흥동 1...

In [151]:
house_cp['x'] = house_cp['byAPI'].apply(lambda elm : elm.get('x'))
house_cp['y'] = house_cp['byAPI'].apply(lambda elm : elm.get('y'))
house_cp['x'] = house_cp['x'].astype('float64')
house_cp['y'] = house_cp['y'].astype('float64')

def create_location(row):
    return (row['y'], row['x'])

house_cp['location'] = house_cp.apply(create_location, axis=1)


# house_cp['location'] = pd.Series(zip(house_cp['y'],house_cp['x']))
# house_cp.head(2)
house_cp['x'].isna().sum()
house_cp['y'].isna().sum()


house_cp[house_cp['location'].isna()]

0

0

Empty DataFrame
Columns: [이름, byAPI, x, y, location, 종류]
Index: []

In [152]:
cmpAll.head(2)
house_cp.head(2)
cmpAll.rename(columns = {'회사':'이름','회사구분':'종류'},inplace=True)
house_cp.rename(columns = {'건물명':'이름'},inplace=True)

house_cp['종류'] ='집'
cmpAll.head(2)
house_cp.head(2)

,이름,byAPI,종류,x,y,location
0,(주)동아수지산업,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,제조업체,127.103428,36.865651,"(36.8656506084092, 127.103428417573)"
1,KY컴퍼니,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,제조업체,127.104524,36.866293,"(36.8662931269303, 127.104524303521)"

,이름,byAPI,x,y,location,종류
0,천안맨션아파트,{'address': {'address_name': '충남 천안시 동남구 대흥동 4...,127.148220,36.811988,"(36.811988462486, 127.148220373057)",집
1,미도아파트,{'address': {'address_name': '충남 천안시 동남구 대흥동 1...,127.147978,36.806906,"(36.8069064103081, 127.147978496779)",집

,이름,byAPI,종류,x,y,location
0,(주)동아수지산업,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,제조업체,127.103428,36.865651,"(36.8656506084092, 127.103428417573)"
1,KY컴퍼니,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,제조업체,127.104524,36.866293,"(36.8662931269303, 127.104524303521)"

,이름,byAPI,x,y,location,종류
0,천안맨션아파트,{'address': {'address_name': '충남 천안시 동남구 대흥동 4...,127.148220,36.811988,"(36.811988462486, 127.148220373057)",집
1,미도아파트,{'address': {'address_name': '충남 천안시 동남구 대흥동 1...,127.147978,36.806906,"(36.8069064103081, 127.147978496779)",집

In [138]:
 t= house_cp[house_cp['location'].isna()]
 t.reset_index(inplace=True,drop=True)
 t.loc[0,'byAPI'].get('y')

'36.8064285770629'

In [127]:
house_cp['location'].isna().sum()
cmpAll['location'].isna().sum()

504

0

In [153]:
company_house = pd.concat([cmpAll,house_cp],axis=0)
company_house

,이름,byAPI,종류,x,y,location
0,(주)동아수지산업,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,제조업체,127.103428,36.865651,"(36.8656506084092, 127.103428417573)"
1,KY컴퍼니,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,제조업체,127.104524,36.866293,"(36.8662931269303, 127.104524303521)"
2,N&P시스템,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,제조업체,127.103433,36.865970,"(36.8659698650003, 127.103432997372)"
3,RP이엔지,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,제조업체,127.102342,36.865351,"(36.8653507611359, 127.102341642294)"
4,남주테크,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,제조업체,127.102750,36.864648,"(36.8646478195452, 127.102749590215)"
...,...,...,...,...,...,...
1664,부영아파트,{'address': {'address_name': '충남 천안시 서북구 직산읍 수...,집,127.139122,36.894009,"(36.8940087486276, 127.139122195026)"
1665,e편한세상 스마일시티 2차,{'address': {'address_name': '충남 천안시 서북구 차암동 5...,집,127.107939,36.847478,"(36.8474780033796, 127.107938789162)"
1666,e편한세상 스마일시티,{'address': {'address_name': '충남 천안시 서북구 차암동 4...,집,127.103628,36.843910,"(36.843910397879, 127.103628071614)"
1667,한화꿈에그린스마일시티,{'address': {'address_name': '충남 천안시 서북구 차암동 4...,집,127.101659,36.841566,"(36.8415664288631, 127.101659351039)"
1668,효성해링턴플레이스 스마일시티,{'address': {'address_name': '충남 천안시 서북구 차암동 5...,집,127.106724,36.845608,"(36.8456075040252, 127.106724495512)"

In [109]:
bus = pd.read_pickle('/Users/iseunghyeon/Desktop/프로젝트/data/버스정류장/around_bus_info_2km_08161152.pickle')
bus_cp = bus[['정류장번호','정류장명','위도','경도','coord2address','주변시설의총합']]
bus_cp.reset_index(drop=True, inplace=True)

In [110]:
bus_cp['location'] = pd.Series(zip(bus_cp['위도'],bus_cp['경도']))
bus_cp.head()

,정류장번호,정류장명,위도,경도,coord2address,주변시설의총합,location
0,ASB285000077,성환8리,36.921468,127.122774,"{'road_address': None, 'address': {'address_na...",550,"(36.92146807, 127.12277401)"
1,ASB285000078,송덕,36.923783,127.118976,"{'road_address': None, 'address': {'address_na...",515,"(36.92378302, 127.11897568)"
2,ASB285000079,국립축산과학원,36.925931,127.111136,"{'road_address': None, 'address': {'address_na...",245,"(36.92593139, 127.11113568)"
3,ASB285000094,성환8리,36.921479,127.122505,"{'road_address': None, 'address': {'address_na...",539,"(36.9214794, 127.1225049)"
4,ASB285000095,성환터미널,36.917221,127.132732,"{'road_address': None, 'address': {'address_na...",620,"(36.91722136, 127.13273235)"

In [81]:
# 거리 계산을 위해, geopy패키지 설치
pip install geopy

Collecting geopy
  Downloading geopy-2.3.0-py3-none-any.whl (119 kB)
     |████████████████████████████████| 119 kB 6.7 MB/s eta 0:00:01
Collecting geographiclib<3,>=1.52
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 32.0 MB/s eta 0:00:01
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.3.0
Note: you may need to restart the kernel to use updated packages.

In [82]:
import geopy.distance

In [167]:
geopy.distance.distance(bus_cp.loc[0,'location'],house_cp.loc[0,'location']).km

12.359569080108558

In [176]:
# import os
# bus_cp.reset_index(drop=True,inplace=True)
# house_cp.reset_index(drop=True,inplace=True)
# path = '/Users/iseunghyeon/Desktop/프로젝트/data/거리계산'
# house_cp.to_pickle(path+'/house_cp_0820.pickle')

# bus_cp.to_pickle(path+'/bus_cp_0820.pickle')

In [235]:
bus_cp['location'][0]

(36.92146807, 127.12277401)

In [236]:
# x : 경도, y : 위도
# data['distance'] = data.apply(lambda x: geopy.distance.distance(x['merch_coord'], x['cust_coord']).km, axis=1)
def calculate_distance(bus_cp, company_house):
    data_list = []

    for idx in tqdm(range(len(bus_cp))):
        for jdx in range(len(company_house)):
            
            distance = geopy.distance.distance(bus_cp.at[idx,'location'],company_house.at[jdx,'location']).km

            data = {'정류장번호':bus_cp.at[idx,'정류장번호'],'정류장명':bus_cp.at[idx,'정류장명'],
            'coord2address':bus_cp.at[idx,'coord2address'],'주변시설의총합':bus_cp.at[idx,'주변시설의총합'],
            'location':bus_cp.at[idx,'location'],'이름':company_house.at[jdx,'이름'],'byAPI':company_house.at[jdx,'byAPI'],
            'house_loc':company_house.at[jdx,'location'],'종류':company_house.at[jdx,'종류'],'distance':distance}
            
            data_list.append(data)

    data_df = pd.DataFrame(data_list)
    return data_df
    
company_house.reset_index(drop=True,inplace=True)
bus_Around_company_house = calculate_distance(bus_cp,company_house)
bus_Around_company_house

100%|██████████| 4324/4324 [53:34<00:00,  1.35it/s]

,정류장번호,정류장명,coord2address,주변시설의총합,location,이름,byAPI,house_loc,종류,distance
0,ASB285000077,성환8리,"{'road_address': None, 'address': {'address_na...",550,"(36.92146807, 127.12277401)",(주)동아수지산업,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,"(36.8656506084092, 127.103428417573)",제조업체,6.429916
1,ASB285000077,성환8리,"{'road_address': None, 'address': {'address_na...",550,"(36.92146807, 127.12277401)",KY컴퍼니,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,"(36.8662931269303, 127.104524303521)",제조업체,6.335470
2,ASB285000077,성환8리,"{'road_address': None, 'address': {'address_na...",550,"(36.92146807, 127.12277401)",N&P시스템,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,"(36.8659698650003, 127.103432997372)",제조업체,6.395680
3,ASB285000077,성환8리,"{'road_address': None, 'address': {'address_na...",550,"(36.92146807, 127.12277401)",RP이엔지,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,"(36.8653507611359, 127.102341642294)",제조업체,6.488501
4,ASB285000077,성환8리,"{'road_address': None, 'address': {'address_na...",550,"(36.92146807, 127.12277401)",남주테크,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,"(36.8646478195452, 127.102749590215)",제조업체,6.553416
...,...,...,...,...,...,...,...,...,...,...
18506715,GGB500000184,둔포,{'road_address': {'address_name': '충청남도 아산시 둔포...,695,"(36.9302833, 127.0387333)",부영아파트,{'address': {'address_name': '충남 천안시 서북구 직산읍 수...,"(36.8940087486276, 127.139122195026)",집,9.810064
18506716,GGB500000184,둔포,{'road_address': {'address_name': '충청남도 아산시 둔포...,695,"(36.9302833, 127.0387333)",e편한세상 스마일시티 2차,{'address': {'address_name': '충남 천안시 서북구 차암동 5...,"(36.8474780033796, 127.107938789162)",집,11.068042
18506717,GGB500000184,둔포,{'road_address': {'address_name': '충청남도 아산시 둔포...,695,"(36.9302833, 127.0387333)",e편한세상 스마일시티,{'address': {'address_name': '충남 천안시 서북구 차암동 4...,"(36.843910397879, 127.103628071614)",집,11.195663
18506718,GGB500000184,둔포,{'road_address': {'address_name': '충청남도 아산시 둔포...,695,"(36.9302833, 127.0387333)",한화꿈에그린스마일시티,{'address': {'address_name': '충남 천안시 서북구 차암동 4...,"(36.8415664288631, 127.101659351039)",집,11.331305
18506719,GGB500000184,둔포,{'road_address': {'address_name': '충청남도 아산시 둔포...,695,"(36.9302833, 127.0387333)",효성해링턴플레이스 스마일시티,{'address': {'address_name': '충남 천안시 서북구 차암동 5...,"(36.8456075040252, 127.106724495512)",집,11.181984

In [239]:
bus_Around_company_house.groupby('정류장번호').count()

,정류장명,coord2address,주변시설의총합,location,이름,byAPI,house_loc,종류,distance
정류장번호,,,,,,,,,
ASB285000077,4280,4280,4280,4280,4280,4280,4280,4280,4280
ASB285000078,4280,4280,4280,4280,4280,4280,4280,4280,4280
ASB285000079,4280,4280,4280,4280,4280,4280,4280,4280,4280
ASB285000094,4280,4280,4280,4280,4280,4280,4280,4280,4280
ASB285000095,4280,4280,4280,4280,4280,4280,4280,4280,4280
...,...,...,...,...,...,...,...,...,...
GGB500000180,4280,4280,4280,4280,4280,4280,4280,4280,4280
GGB500000181,4280,4280,4280,4280,4280,4280,4280,4280,4280
GGB500000182,4280,4280,4280,4280,4280,4280,4280,4280,4280
GGB500000183,4280,4280,4280,4280,4280,4280,4280,4280,4280
GGB500000184,4280,4280,4280,4280,4280,4280,4280,4280,4280

In [237]:
# bus_Around_company_house.to_pickle(path+'/bus_Around_company_house.pickle')

In [238]:
t = pd.read_pickle(path+'/bus_Around_company_house.pickle')
t.head()

,정류장번호,정류장명,coord2address,주변시설의총합,location,이름,byAPI,house_loc,종류,distance
0,ASB285000077,성환8리,"{'road_address': None, 'address': {'address_na...",550,"(36.92146807, 127.12277401)",(주)동아수지산업,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,"(36.8656506084092, 127.103428417573)",제조업체,6.429916
1,ASB285000077,성환8리,"{'road_address': None, 'address': {'address_na...",550,"(36.92146807, 127.12277401)",KY컴퍼니,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,"(36.8662931269303, 127.104524303521)",제조업체,6.335470
2,ASB285000077,성환8리,"{'road_address': None, 'address': {'address_na...",550,"(36.92146807, 127.12277401)",N&P시스템,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,"(36.8659698650003, 127.103432997372)",제조업체,6.395680
3,ASB285000077,성환8리,"{'road_address': None, 'address': {'address_na...",550,"(36.92146807, 127.12277401)",RP이엔지,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,"(36.8653507611359, 127.102341642294)",제조업체,6.488501
4,ASB285000077,성환8리,"{'road_address': None, 'address': {'address_na...",550,"(36.92146807, 127.12277401)",남주테크,{'address': {'address_name': '충남 천안시 서북구 직산읍 마...,"(36.8646478195452, 127.102749590215)",제조업체,6.553416

In [240]:
data_df = bus_Around_company_house.copy()

In [248]:
bus_id = data_df[(0<=data_df['distance'])&(data_df['distance']<=0.5)].groupby('정류장번호').count().reset_index()['정류장번호']
count_value = data_df[(0<=data_df['distance'])&(data_df['distance']<=0.5)].groupby('정류장번호').count().reset_index()['distance']
make_bus_count = {'정류장번호':bus_id,'0~0.5km_count':count_value}
make_bus_count_df_1 = pd.DataFrame(make_bus_count)
make_bus_count_df_1

             정류장번호  0~0.5km_count
0     ASB285000077              5
1     ASB285000078             11
2     ASB285000079             12
3     ASB285000094              5
4     ASB285000095             11
...            ...            ...
1914  GGB285000034             11
1915  GGB285000035             11
1916  GGB285500010             17
1917  GGB285500020             14
1918  GGB285500030             13

[1919 rows x 2 columns]

In [249]:
bus_id = data_df[(0.5<data_df['distance'])&(data_df['distance']<=1)].groupby('정류장번호').count().reset_index()['정류장번호']
count_value = data_df[(0.5<data_df['distance'])&(data_df['distance']<=1)].groupby('정류장번호').count().reset_index()['distance']
make_bus_count = {'정류장번호':bus_id,'0.5~1km_count':count_value}
make_bus_count_df_2 = pd.DataFrame(make_bus_count)
make_bus_count_df_2

             정류장번호  0.5~1km_count
0     ASB285000077             25
1     ASB285000078             15
2     ASB285000079             22
3     ASB285000094             24
4     ASB285000095             16
...            ...            ...
2186  GGB285500010             31
2187  GGB285500020             62
2188  GGB285500030             64
2189  GGB288500130              6
2190  GGB288500140              2

[2191 rows x 2 columns]

In [250]:
bus_cp_merge = pd.merge(bus_cp,make_bus_count_df_1,on='정류장번호',how='left')
bus_cp_merge = pd.merge(bus_cp_merge,make_bus_count_df_2,on='정류장번호',how='left')

bus_cp_merge['0~0.5km_count'].fillna(0,inplace=True)
bus_cp_merge['0~0.5km_count'] = bus_cp_merge['0~0.5km_count'].astype('int')

bus_cp_merge['0.5~1km_count'].fillna(0,inplace=True)
bus_cp_merge['0.5~1km_count'] = bus_cp_merge['0.5~1km_count'].astype('int')
bus_cp_merge

,정류장번호,정류장명,위도,경도,coord2address,주변시설의총합,location,0~0.5km_count,0.5~1km_count
0,ASB285000077,성환8리,36.921468,127.122774,"{'road_address': None, 'address': {'address_na...",550,"(36.92146807, 127.12277401)",5,25
1,ASB285000078,송덕,36.923783,127.118976,"{'road_address': None, 'address': {'address_na...",515,"(36.92378302, 127.11897568)",11,15
2,ASB285000079,국립축산과학원,36.925931,127.111136,"{'road_address': None, 'address': {'address_na...",245,"(36.92593139, 127.11113568)",12,22
3,ASB285000094,성환8리,36.921479,127.122505,"{'road_address': None, 'address': {'address_na...",539,"(36.9214794, 127.1225049)",5,24
4,ASB285000095,성환터미널,36.917221,127.132732,"{'road_address': None, 'address': {'address_na...",620,"(36.91722136, 127.13273235)",11,16
...,...,...,...,...,...,...,...,...,...
4319,GGB500000180,시포리,36.926733,127.023067,"{'road_address': None, 'address': {'address_na...",293,"(36.9267333, 127.0230667)",0,0
4320,GGB500000181,둔포면사무소,36.927300,127.037000,"{'road_address': None, 'address': {'address_na...",657,"(36.9273, 127.037)",0,0
4321,GGB500000182,둔포면사무소,36.927200,127.037150,"{'road_address': None, 'address': {'address_na...",678,"(36.9272, 127.03715)",0,0
4322,GGB500000183,둔포,36.930250,127.038400,"{'road_address': None, 'address': {'address_na...",670,"(36.93025, 127.0384)",0,0
4323,GGB500000184,둔포,36.930283,127.038733,{'road_address': {'address_name': '충청남도 아산시 둔포...,695,"(36.9302833, 127.0387333)",0,0

In [251]:
bus_cp_merge['score'] = bus_cp_merge.apply(lambda elm : (elm['0~0.5km_count'] *2 )+ (elm['0.5~1km_count']) + (elm['주변시설의총합']),axis=1)
bus_cp_merge

,정류장번호,정류장명,위도,경도,coord2address,주변시설의총합,location,0~0.5km_count,0.5~1km_count,score
0,ASB285000077,성환8리,36.921468,127.122774,"{'road_address': None, 'address': {'address_na...",550,"(36.92146807, 127.12277401)",5,25,585
1,ASB285000078,송덕,36.923783,127.118976,"{'road_address': None, 'address': {'address_na...",515,"(36.92378302, 127.11897568)",11,15,552
2,ASB285000079,국립축산과학원,36.925931,127.111136,"{'road_address': None, 'address': {'address_na...",245,"(36.92593139, 127.11113568)",12,22,291
3,ASB285000094,성환8리,36.921479,127.122505,"{'road_address': None, 'address': {'address_na...",539,"(36.9214794, 127.1225049)",5,24,573
4,ASB285000095,성환터미널,36.917221,127.132732,"{'road_address': None, 'address': {'address_na...",620,"(36.91722136, 127.13273235)",11,16,658
...,...,...,...,...,...,...,...,...,...,...
4319,GGB500000180,시포리,36.926733,127.023067,"{'road_address': None, 'address': {'address_na...",293,"(36.9267333, 127.0230667)",0,0,293
4320,GGB500000181,둔포면사무소,36.927300,127.037000,"{'road_address': None, 'address': {'address_na...",657,"(36.9273, 127.037)",0,0,657
4321,GGB500000182,둔포면사무소,36.927200,127.037150,"{'road_address': None, 'address': {'address_na...",678,"(36.9272, 127.03715)",0,0,678
4322,GGB500000183,둔포,36.930250,127.038400,"{'road_address': None, 'address': {'address_na...",670,"(36.93025, 127.0384)",0,0,670
4323,GGB500000184,둔포,36.930283,127.038733,{'road_address': {'address_name': '충청남도 아산시 둔포...,695,"(36.9302833, 127.0387333)",0,0,695

In [254]:
bus_cp_merge_sort = bus_cp_merge.sort_values(by='score',ascending=False)
bus_cp_merge_sort

,정류장번호,정류장명,위도,경도,coord2address,주변시설의총합,location,0~0.5km_count,0.5~1km_count,score
2690,CAB285000923,"성정2동행정복지센터,건강생활지원센터",36.819683,127.139405,"{'road_address': None, 'address': {'address_na...",7295,"(36.8196834, 127.13940502)",62,73,7492
2691,CAB285000924,"성정2동행정복지센터,건강생활지원센터",36.819458,127.139441,"{'road_address': None, 'address': {'address_na...",7285,"(36.81945838, 127.13944116)",63,72,7483
51,ASB285000879,가구웨딩특화거리,36.818490,127.139680,"{'road_address': None, 'address': {'address_na...",7277,"(36.81849, 127.13968)",67,70,7481
2650,CAB285000879,가구웨딩특화거리,36.818486,127.139681,"{'road_address': None, 'address': {'address_na...",7277,"(36.81848565, 127.13968089)",67,70,7481
52,ASB285000880,가구웨딩특화거리,36.818650,127.139030,"{'road_address': None, 'address': {'address_na...",7272,"(36.81865, 127.13903)",66,69,7473
...,...,...,...,...,...,...,...,...,...,...
161,ASB288000023,신덕2리,36.763650,126.841821,"{'road_address': None, 'address': {'address_na...",1,"(36.7636505, 126.8418211)",0,0,1
159,ASB288000020,신덕1리,36.772129,126.841020,"{'road_address': None, 'address': {'address_na...",1,"(36.7721288, 126.8410203)",0,0,1
1594,ASB288010319,신덕1리,36.772074,126.840875,"{'road_address': None, 'address': {'address_na...",1,"(36.7720739, 126.8408751)",0,0,1
1592,ASB288010317,건너하평,36.766872,126.841553,"{'road_address': None, 'address': {'address_na...",0,"(36.7668717, 126.8415527)",0,0,0
158,ASB288000018,건너하평,36.766985,126.841619,"{'road_address': None, 'address': {'address_na...",0,"(36.76698472, 126.84161902)",0,0,0

In [256]:
bus_cp_merge_sort.head(10)

,정류장번호,정류장명,위도,경도,coord2address,주변시설의총합,location,0~0.5km_count,0.5~1km_count,score
2690,CAB285000923,"성정2동행정복지센터,건강생활지원센터",36.819683,127.139405,"{'road_address': None, 'address': {'address_na...",7295,"(36.8196834, 127.13940502)",62,73,7492
2691,CAB285000924,"성정2동행정복지센터,건강생활지원센터",36.819458,127.139441,"{'road_address': None, 'address': {'address_na...",7285,"(36.81945838, 127.13944116)",63,72,7483
51,ASB285000879,가구웨딩특화거리,36.818490,127.139680,"{'road_address': None, 'address': {'address_na...",7277,"(36.81849, 127.13968)",67,70,7481
2650,CAB285000879,가구웨딩특화거리,36.818486,127.139681,"{'road_address': None, 'address': {'address_na...",7277,"(36.81848565, 127.13968089)",67,70,7481
52,ASB285000880,가구웨딩특화거리,36.818650,127.139030,"{'road_address': None, 'address': {'address_na...",7272,"(36.81865, 127.13903)",66,69,7473
2651,CAB285000880,가구웨딩특화거리,36.818650,127.139033,"{'road_address': None, 'address': {'address_na...",7272,"(36.81864973, 127.13903344)",66,69,7473
2689,CAB285000922,천안서초등학교,36.821124,127.139871,"{'road_address': None, 'address': {'address_na...",7205,"(36.82112413, 127.1398709)",60,71,7396
2688,CAB285000921,천안서초등학교,36.821656,127.139910,"{'road_address': None, 'address': {'address_na...",7181,"(36.8216561, 127.13990979)",48,79,7356
2677,CAB285000910,봉정사거리,36.819819,127.143060,"{'road_address': None, 'address': {'address_na...",7048,"(36.8198188, 127.1430595)",47,79,7221
71,ASB285000910,봉정사거리,36.819820,127.143060,"{'road_address': None, 'address': {'address_na...",7048,"(36.81982, 127.14306)",47,79,7221

In [257]:
bus_cp_merge_sort

,정류장번호,정류장명,위도,경도,coord2address,주변시설의총합,location,0~0.5km_count,0.5~1km_count,score
2690,CAB285000923,"성정2동행정복지센터,건강생활지원센터",36.819683,127.139405,"{'road_address': None, 'address': {'address_na...",7295,"(36.8196834, 127.13940502)",62,73,7492
2691,CAB285000924,"성정2동행정복지센터,건강생활지원센터",36.819458,127.139441,"{'road_address': None, 'address': {'address_na...",7285,"(36.81945838, 127.13944116)",63,72,7483
51,ASB285000879,가구웨딩특화거리,36.818490,127.139680,"{'road_address': None, 'address': {'address_na...",7277,"(36.81849, 127.13968)",67,70,7481
2650,CAB285000879,가구웨딩특화거리,36.818486,127.139681,"{'road_address': None, 'address': {'address_na...",7277,"(36.81848565, 127.13968089)",67,70,7481
52,ASB285000880,가구웨딩특화거리,36.818650,127.139030,"{'road_address': None, 'address': {'address_na...",7272,"(36.81865, 127.13903)",66,69,7473
...,...,...,...,...,...,...,...,...,...,...
161,ASB288000023,신덕2리,36.763650,126.841821,"{'road_address': None, 'address': {'address_na...",1,"(36.7636505, 126.8418211)",0,0,1
159,ASB288000020,신덕1리,36.772129,126.841020,"{'road_address': None, 'address': {'address_na...",1,"(36.7721288, 126.8410203)",0,0,1
1594,ASB288010319,신덕1리,36.772074,126.840875,"{'road_address': None, 'address': {'address_na...",1,"(36.7720739, 126.8408751)",0,0,1
1592,ASB288010317,건너하평,36.766872,126.841553,"{'road_address': None, 'address': {'address_na...",0,"(36.7668717, 126.8415527)",0,0,0
158,ASB288000018,건너하평,36.766985,126.841619,"{'road_address': None, 'address': {'address_na...",0,"(36.76698472, 126.84161902)",0,0,0

In [266]:
bus_eda = bus.loc[:,'MT1':'PM9']
bus_eda.head(1)
bus.head(1)

,MT1,CS2,PS3,SC4,AC5,PK6,OL7,SW8,BK9,CT1,AG2,PO3,AT4,AD5,FD6,CE7,HP8,PM9
39,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...

,정류장번호,정류장명,위도,경도,정보수집일시,모바일단축번호,도시코드,도시명,관리도시명,MT1,...,AT4,AD5,FD6,CE7,HP8,PM9,주변시설의총합,coord2address,region_2depth_name,도로명주소
39,ASB285000077,성환8리,36.921468,127.122774,20221012050123,77.0,34040,아산시,아산,{'documents': [{'address_name': '충남 천안시 서북구 성환...,...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,{'documents': [{'address_name': '충남 천안시 서북구 성환...,550,"{'road_address': None, 'address': {'address_na...",천안시 서북구,충남 천안시 서북구 성환읍 성환리 675-1

In [ ]:
bus_count_category = bus.copy()
bus_count_category.reset_index(drop=True,inplace=True)

In [276]:
bus_count_category.loc[0,'MT1'].get('documents')[0].keys()
bus_count_category.loc[0,'MT1'].get('meta').get('total_count')

dict_keys(['address_name', 'category_group_code', 'category_group_name', 'category_name', 'distance', 'id', 'phone', 'place_name', 'place_url', 'road_address_name', 'x', 'y'])

4

In [278]:
bus_count_category.columns

Index(['정류장번호', '정류장명', '위도', '경도', '정보수집일시', '모바일단축번호', '도시코드', '도시명',
       '관리도시명', 'MT1', 'CS2', 'PS3', 'SC4', 'AC5', 'PK6', 'OL7', 'SW8', 'BK9',
       'CT1', 'AG2', 'PO3', 'AT4', 'AD5', 'FD6', 'CE7', 'HP8', 'PM9',
       '주변시설의총합', 'coord2address', 'region_2depth_name', '도로명주소'],
      dtype='object')

In [283]:
temp_list = []
for idx in tqdm(range(len(bus_count_category))):
    data = {
        '정류장번호': bus_count_category.at[idx, '정류장번호'],
        '정류장명': bus_count_category.at[idx, '정류장명']
    }
    
    for category in ['MT1', 'CS2', 'PS3', 'SC4', 'AC5', 'PK6', 'OL7', 'SW8', 'BK9', 'CT1', 'AG2', 'PO3', 'AT4', 'AD5', 'FD6', 'CE7', 'HP8', 'PM9']:
        category_data = bus_count_category.at[idx, category]
        
        if isinstance(category_data, dict):
            total_count = category_data.get('meta', {}).get('total_count', 0)
            data[category] = total_count
        else:
            data[category] = 0  # Set to 0 if the value is not a dictionary
    
    temp_list.append(data)

bus_count_category_df = pd.DataFrame(temp_list)
bus_count_category_df

100%|██████████| 4324/4324 [00:00<00:00, 4480.50it/s]

,정류장번호,정류장명,MT1,CS2,PS3,SC4,AC5,PK6,OL7,SW8,BK9,CT1,AG2,PO3,AT4,AD5,FD6,CE7,HP8,PM9
0,ASB285000077,성환8리,4,23,8,5,33,8,9,1,19,3,54,4,6,6,291,44,21,11
1,ASB285000078,송덕,4,20,7,4,31,8,8,1,16,3,53,4,4,6,272,42,21,11
2,ASB285000079,국립축산과학원,1,10,3,2,8,4,3,1,12,2,29,3,5,5,116,24,11,6
3,ASB285000094,성환8리,4,22,8,0,33,8,9,1,18,3,54,4,6,6,288,43,21,11
4,ASB285000095,성환터미널,4,28,12,6,36,16,11,1,21,4,54,4,4,6,326,54,21,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4319,GGB500000180,시포리,1,17,4,3,7,9,3,0,13,0,23,4,3,4,167,24,8,3
4320,GGB500000181,둔포면사무소,3,29,28,6,29,13,5,0,21,0,59,4,4,6,374,53,17,6
4321,GGB500000182,둔포면사무소,3,29,28,6,29,13,5,0,21,0,62,4,4,7,390,54,17,6
4322,GGB500000183,둔포,3,30,28,6,29,13,5,0,22,0,66,4,3,4,377,57,17,6
4323,GGB500000184,둔포,3,30,28,6,29,13,5,0,22,0,66,4,3,4,402,57,17,6

In [305]:
print(bus.loc[bus['정류장번호']=='ASB285000077','AD5'])

39    {'documents': [{'address_name': '충남 천안시 서북구 성환...
Name: AD5, dtype: object

In [308]:
bus[bus['정류장번호']=='ASB285000077']['AD5'].values[0].get('documents')

[{'address_name': '충남 천안시 서북구 성환읍 성환리 449-999',
  'category_group_code': 'AD5',
  'category_group_name': '숙박',
  'category_name': '여행 > 숙박 > 여관,모텔',
  'distance': '735',
  'id': '16512732',
  'phone': '041-582-6600',
  'place_name': '카라모텔',
  'place_url': 'http://place.map.kakao.com/16512732',
  'road_address_name': '충남 천안시 서북구 성환읍 성환1로 246',
  'x': '127.128283484417',
  'y': '36.916528164192'},
 {'address_name': '충남 천안시 서북구 성환읍 성환리 449-1005',
  'category_group_code': 'AD5',
  'category_group_name': '숙박',
  'category_name': '여행 > 숙박 > 여관,모텔',
  'distance': '766',
  'id': '2029824602',
  'phone': '',
  'place_name': '공간모텔',
  'place_url': 'http://place.map.kakao.com/2029824602',
  'road_address_name': '충남 천안시 서북구 성환읍 성환9길 3-6',
  'x': '127.128633411186',
  'y': '36.9164052369617'},
 {'address_name': '충남 천안시 서북구 성환읍 성환리 449-165',
  'category_group_code': 'AD5',
  'category_group_name': '숙박',
  'category_name': '여행 > 숙박 > 여관,모텔',
  'distance': '769',
  'id': '8859572',
  'phone': '041-582-2653',
  'place_name': '뉴월드파크장',
  'place_url': 'http://place.map.kakao.com/8859572',
  'road_address_name': '충남 천안시 서북구 성환읍 성환중앙로 35',
  'x': '127.13031961437',
  'y': '36.9180938521506'},
 {'address_name': '충남 천안시 서북구 성환읍 성환리 449-53',
  'category_group_code': 'AD5',
  'category_group_name': '숙박',
  'category_name': '여행 > 숙박 > 여관,모텔',
  'distance': '843',
  'id': '14557693',
  'phone': '',
  'place_name': '천안여관',
  'place_url': 'http://place.map.kakao.com/14557693',
  'road_address_name': '충남 천안시 서북구 성환읍 성환9길 12',
  'x': '127.129216101086',
  'y': '36.9158927829199'},
 {'address_name': '충남 천안시 서북구 성환읍 성환리 432-3',
  'category_group_code': 'AD5',
  'category_group_name': '숙박',
  'category_name': '여행 > 숙박 > 여관,모텔',
  'distance': '883',
  'id': '9153062',
  'phone': '',
  'place_name': '성신장',
  'place_url': 'http://place.map.kakao.com/9153062',
  'road_address_name': '충남 천안시 서북구 성환읍 성환중앙로 18-1',
  'x': '127.129489445152',
  'y': '36.9156113437869'},
 {'address_name': '충남 천안시 서북구 성환읍 성환리 280-8',
  'category_group_code': 'AD5',
  'category_group_name': '숙박',
  'category_name': '여행 > 숙박 > 여관,모텔',
  'distance': '1052',
  'id': '16799341',
  'phone': '041-581-9191',
  'place_name': '동궁여관',
  'place_url': 'http://place.map.kakao.com/16799341',
  'road_address_name': '충남 천안시 서북구 성환읍 성환2로 134',
  'x': '127.134095999507',
  'y': '36.9187528546827'}]