In [189]:
import pandas as pd
import requests
import json
from tqdm import tqdm
import warnings
warnings.filterwarnings(action='ignore') 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [237]:
# school_set = set()
# for idx in tqdm(range(len(school))):
#     j  = school.at[idx,'SC4'].get('meta').get('total_count')
#     for jdx in range(j):
#         data = school.at[0,'SC4'].get('documents')[jdx].get('category_name').split('>')[2].strip(' ')
#         school_set.add(data)

target = 'PO3'


target_set = set()

temp_list =[]

for idx in tqdm(range(len(school))):
    sc4_data = school.at[idx, target]
    if isinstance(sc4_data, dict):  # Check if SC4 data is a dictionary
        j = sc4_data.get('meta', {}).get('total_count', 0)
        for jdx in range(j):
            documents = sc4_data.get('documents', [])
            if jdx < len(documents):
                data = documents[jdx].get('category_name', '').split('>')[2].strip(' ')
                # if data != '초등학교':
                #     위도 = float(documents[jdx].get('y'))
                #     경도 = float(documents[jdx].get('x'))
                #     학교이름 = documents[jdx].get('place_name')
                #     d1 ={'학교':data,'위도':위도,'경도':경도,'학교이름':학교이름}
                #     temp_list.append(d1)
                target_set.add(data)
    # school_df.at[idx,'school'] = temp_list

target_set

100%|██████████| 2314/2314 [00:00<00:00, 54767.79it/s]

{'검찰청', '경찰서', '구청', '법원', '소방서', '시,군,구민회관', '시청', '행정복지센터'}

In [238]:
from datetime import datetime
import pandas as pd
import requests
import json
from tqdm import tqdm
import warnings
warnings.filterwarnings(action='ignore') 

bus_station = pd.read_pickle('/Users/iseunghyeon/Desktop/프로젝트/data/천안시_proj_data/버스정류장/Bus_around_500_08231838.pickle')
# data = pd.read_pickle(r'C:\Users\Lee\Desktop\천안시_DataDir\버스데이터\Bus_around_500_08231838.pickle')
bus_station

,정류장번호,정류장명,위도,경도,MT1,CS2,PS3,SC4,AC5,PK6,...,BK9,CT1,AG2,PO3,AT4,AD5,FD6,CE7,HP8,PM9
0,ASB285000077,성환8리,36.921468,127.122774,0,2,1,0,0,2,...,0,0,0,0,0,0,8,0,1,0
1,ASB285000078,송덕,36.923783,127.118976,0,2,2,1,0,2,...,0,0,0,0,0,0,3,0,0,0
2,ASB285000079,국립축산과학원,36.925931,127.111136,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ASB285000094,성환8리,36.921479,127.122505,0,2,1,0,0,2,...,0,0,0,0,0,0,7,0,0,0
4,ASB285000095,성환터미널,36.917221,127.132732,1,11,4,3,30,3,...,0,0,0,0,0,6,205,0,16,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,GGB285000034,성환터미널,36.916583,127.132933,1,12,4,3,30,3,...,0,0,0,0,1,6,0,32,0,0
2310,GGB285000035,남서울대학,36.910267,127.142200,0,5,1,1,1,8,...,0,0,0,0,1,0,0,9,0,0
2311,GGB285500010,천안TG.단대.천안대,36.822650,127.162867,0,12,3,1,37,8,...,0,0,11,0,0,17,0,27,0,0
2312,GGB285500020,천안종합터미널,36.819833,127.155733,2,34,16,0,115,22,...,0,6,54,0,1,28,0,166,0,0
2313,GGB285500030,천안종합터미널,36.819800,127.155600,2,34,16,0,115,22,...,0,0,53,0,1,28,0,166,0,0

In [257]:
bus_station['location']= pd.Series(zip(bus_station['위도'],bus_station['경도']))
bus_station = bus_station.head(5)
# x : 경도, y : 위도
# data['distance'] = data.apply(lambda x: geopy.distance.distance(x['merch_coord'], x['cust_coord']).km, axis=1)
def calculate_distance(bus_cp, company_house):
    import geopy.distance

    data_list = []

    for idx in tqdm(range(len(bus_cp))):
        for jdx in range(len(company_house)):
            
            distance = geopy.distance.distance(bus_cp.at[idx,'location'],company_house.at[jdx,'location']).km

            data = {'정류장번호':bus_cp.at[idx,'정류장번호'],'정류장명':bus_cp.at[idx,'정류장명'],'location':bus_cp.at[idx,'location'],
            '정류장번호2':company_house.at[jdx,'정류장번호'],'정류장명2':company_house.at[jdx,'정류장명'],'distance':distance}
            
            data_list.append(data)

    data_df = pd.DataFrame(data_list)
    return data_df
    
# company_house.reset_index(drop=True,inplace=True)
bus_target_distance = calculate_distance(bus_station,bus_station)
bus_target_distance

100%|██████████| 5/5 [00:00<00:00, 728.03it/s]

,정류장번호,정류장명,location,정류장번호2,정류장명2,distance
0,ASB285000077,성환8리,"(36.92146807, 127.12277401)",ASB285000077,성환8리,0.000000
1,ASB285000077,성환8리,"(36.92146807, 127.12277401)",ASB285000078,송덕,0.424900
2,ASB285000077,성환8리,"(36.92146807, 127.12277401)",ASB285000079,국립축산과학원,1.149206
3,ASB285000077,성환8리,"(36.92146807, 127.12277401)",ASB285000094,성환8리,0.024011
4,ASB285000077,성환8리,"(36.92146807, 127.12277401)",ASB285000095,성환터미널,1.004732
5,ASB285000078,송덕,"(36.92378302, 127.11897568)",ASB285000077,성환8리,0.424900
6,ASB285000078,송덕,"(36.92378302, 127.11897568)",ASB285000078,송덕,0.000000
7,ASB285000078,송덕,"(36.92378302, 127.11897568)",ASB285000079,국립축산과학원,0.738104
8,ASB285000078,송덕,"(36.92378302, 127.11897568)",ASB285000094,성환8리,0.405266
9,ASB285000078,송덕,"(36.92378302, 127.11897568)",ASB285000095,성환터미널,1.425759
10,ASB285000079,국립축산과학원,"(36.92593139, 127.11113568)",ASB285000077,성환8리,1.149206
11,ASB285000079,국립축산과학원,"(36.92593139, 127.11113568)",ASB285000078,송덕,0.738104
12,ASB285000079,국립축산과학원,"(36.92593139, 127.11113568)",ASB285000079,국립축산과학원,0.000000
13,ASB285000079,국립축산과학원,"(36.92593139, 127.11113568)",ASB285000094,성환8리,1.127065
14,ASB285000079,국립축산과학원,"(36.92593139, 127.11113568)",ASB285000095,성환터미널,2.153454
15,ASB285000094,성환8리,"(36.9214794, 127.1225049)",ASB285000077,성환8리,0.024011
16,ASB285000094,성환8리,"(36.9214794, 127.1225049)",ASB285000078,송덕,0.405266
17,ASB285000094,성환8리,"(36.9214794, 127.1225049)",ASB285000079,국립축산과학원,1.127065
18,ASB285000094,성환8리,"(36.9214794, 127.1225049)",ASB285000094,성환8리,0.000000
19,ASB285000094,성환8리,"(36.9214794, 127.1225049)",ASB285000095,성환터미널,1.026550
20,ASB285000095,성환터미널,"(36.91722136, 127.13273235)",ASB285000077,성환8리,1.004732
21,ASB285000095,성환터미널,"(36.91722136, 127.13273235)",ASB285000078,송덕,1.425759
22,ASB285000095,성환터미널,"(36.91722136, 127.13273235)",ASB285000079,국립축산과학원,2.153454
23,ASB285000095,성환터미널,"(36.91722136, 127.13273235)",ASB285000094,성환8리,1.026550
24,ASB285000095,성환터미널,"(36.91722136, 127.13273235)",ASB285000095,성환터미널,0.000000

In [240]:
outer = pd.read_pickle('/Users/iseunghyeon/Desktop/프로젝트/data/천안시_proj_data/버스정류장/Bus_Main0823.pickle')
cols = ['정류장번호'] + list(outer.columns[outer.columns.get_loc('공원거리구분_A'):])
outer_cp = outer[cols].copy()
outer_cp

             정류장번호  공원거리구분_A  공원거리구분_B  CH거리구분_A  CH거리구분_B  하천거리구분_A  하천거리구분_B
0     ASB285000077         0         0         5        25         1         0
1     ASB285000078         0         0        11        15         0         1
2     ASB285000079         0         0        12        22         0         0
3     ASB285000094         0         0         5        24         1         0
4     ASB285000095         0         1        11        16         0         1
...            ...       ...       ...       ...       ...       ...       ...
2309  GGB285000034         1         0        11        16         0         1
2310  GGB285000035         0         1        11         9         0         0
2311  GGB285500010         4         4        17        31         0         0
2312  GGB285500020         6         8        14        62         0         0
2313  GGB285500030         6         8        13        64         0         0

[2314 rows x 7 columns]

In [241]:
merge1 = pd.merge(bus_station,outer_cp,on='정류장번호',how='left')
len(data)==len(merge1)
merge1

target_list = list(merge1.columns[merge1.columns.get_loc('MT1'):merge1.columns.get_loc('PM9')+1])
target_list
merge1['sum']=merge1[target_list].sum(axis=1)
merge1

score_df = merge1.copy()
# score 칼럼 구하기
score_df['score'] = score_df['sum'].astype('int') + (score_df['공원거리구분_A']*2 + score_df['공원거리구분_B']) + (score_df['CH거리구분_A'] *2 + score_df['CH거리구분_B']) + (score_df['하천거리구분_A'] *2 + score_df['하천거리구분_B'])
# score_df[['주변시설의총합','score']]
sorted_score_df = score_df.sort_values(by='score',ascending=False)
sorted_score_df

# sorted_score_df =score_df[['정류장번호','정류장명','위도','경도','도로명주소','시','구','읍/면/동','리','score']].sort_values(by='score',ascending=False)
# sorted_score_df

False

,정류장번호,정류장명,위도,경도,MT1,CS2,PS3,SC4,AC5,PK6,...,FD6,CE7,HP8,PM9,공원거리구분_A,공원거리구분_B,CH거리구분_A,CH거리구분_B,하천거리구분_A,하천거리구분_B
0,ASB285000077,성환8리,36.921468,127.122774,0,2,1,0,0,2,...,8,0,1,0,0,0,5,25,1,0
1,ASB285000078,송덕,36.923783,127.118976,0,2,2,1,0,2,...,3,0,0,0,0,0,11,15,0,1
2,ASB285000079,국립축산과학원,36.925931,127.111136,0,1,1,1,0,0,...,0,0,0,0,0,0,12,22,0,0
3,ASB285000094,성환8리,36.921479,127.122505,0,2,1,0,0,2,...,7,0,0,0,0,0,5,24,1,0
4,ASB285000095,성환터미널,36.917221,127.132732,1,11,4,3,30,3,...,205,0,16,0,0,1,11,16,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,GGB285000034,성환터미널,36.916583,127.132933,1,12,4,3,30,3,...,0,32,0,0,1,0,11,16,0,1
2310,GGB285000035,남서울대학,36.910267,127.142200,0,5,1,1,1,8,...,0,9,0,0,0,1,11,9,0,0
2311,GGB285500010,천안TG.단대.천안대,36.822650,127.162867,0,12,3,1,37,8,...,0,27,0,0,4,4,17,31,0,0
2312,GGB285500020,천안종합터미널,36.819833,127.155733,2,34,16,0,115,22,...,0,166,0,0,6,8,14,62,0,0
2313,GGB285500030,천안종합터미널,36.819800,127.155600,2,34,16,0,115,22,...,0,166,0,0,6,8,13,64,0,0

['MT1',
 'CS2',
 'PS3',
 'SC4',
 'AC5',
 'PK6',
 'OL7',
 'SW8',
 'BK9',
 'CT1',
 'AG2',
 'PO3',
 'AT4',
 'AD5',
 'FD6',
 'CE7',
 'HP8',
 'PM9']

,정류장번호,정류장명,위도,경도,MT1,CS2,PS3,SC4,AC5,PK6,...,CE7,HP8,PM9,공원거리구분_A,공원거리구분_B,CH거리구분_A,CH거리구분_B,하천거리구분_A,하천거리구분_B,sum
0,ASB285000077,성환8리,36.921468,127.122774,0,2,1,0,0,2,...,0,1,0,0,0,5,25,1,0,17
1,ASB285000078,송덕,36.923783,127.118976,0,2,2,1,0,2,...,0,0,0,0,0,11,15,0,1,12
2,ASB285000079,국립축산과학원,36.925931,127.111136,0,1,1,1,0,0,...,0,0,0,0,0,12,22,0,0,3
3,ASB285000094,성환8리,36.921479,127.122505,0,2,1,0,0,2,...,0,0,0,0,0,5,24,1,0,15
4,ASB285000095,성환터미널,36.917221,127.132732,1,11,4,3,30,3,...,0,16,0,0,1,11,16,0,1,280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,GGB285000034,성환터미널,36.916583,127.132933,1,12,4,3,30,3,...,32,0,0,1,0,11,16,0,1,92
2310,GGB285000035,남서울대학,36.910267,127.142200,0,5,1,1,1,8,...,9,0,0,0,1,11,9,0,0,26
2311,GGB285500010,천안TG.단대.천안대,36.822650,127.162867,0,12,3,1,37,8,...,27,0,0,4,4,17,31,0,0,116
2312,GGB285500020,천안종합터미널,36.819833,127.155733,2,34,16,0,115,22,...,166,0,0,6,8,14,62,0,0,444
2313,GGB285500030,천안종합터미널,36.819800,127.155600,2,34,16,0,115,22,...,166,0,0,6,8,13,64,0,0,437

,정류장번호,정류장명,위도,경도,MT1,CS2,PS3,SC4,AC5,PK6,...,HP8,PM9,공원거리구분_A,공원거리구분_B,CH거리구분_A,CH거리구분_B,하천거리구분_A,하천거리구분_B,sum,score
856,CAB285000936,성정중학교,36.830708,127.137961,1,66,1,1,25,27,...,32,0,5,10,4,47,0,0,1145,1220
174,ASB288001967,불당상업지구입구,36.811821,127.108607,1,27,11,0,270,36,...,74,0,2,7,0,3,1,0,1201,1217
857,CAB285000937,성정중학교,36.829957,127.137722,2,61,1,1,16,25,...,50,0,5,9,3,60,0,0,1098,1183
855,CAB285000935,두정양돈농협,36.833573,127.138038,1,54,9,3,70,19,...,21,0,5,7,7,28,0,0,1085,1144
924,CAB285001024,두정도서관,36.833743,127.135533,1,49,13,5,79,18,...,22,0,7,6,8,23,0,0,1069,1128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2164,CAB285071671,의관동종점,36.822265,127.326065,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017,CAB285071513,보산원1리,36.690781,127.074633,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
521,CAB285000499,덕전1리,36.809343,127.221424,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
524,CAB285000502,덕전1리(용소),36.808634,127.224933,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
520,CAB285000498,덕전2리,36.816177,127.225010,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [172]:
# 겹쳐져 있는 버스정류장 (하나가 선택되었다면, 맞은 편의 버스정류장도 선택되기 때문에 (이름이 같으니)) 정류장명 중복 삭제
unique_sorted_score_df = sorted_score_df.drop_duplicates(subset='정류장명')

In [249]:
cutted_sorted_score_df = unique_sorted_score_df.head(188)
cutted_sorted_score_df

,정류장번호,정류장명,위도,경도,MT1,CS2,PS3,SC4,AC5,PK6,...,HP8,PM9,공원거리구분_A,공원거리구분_B,CH거리구분_A,CH거리구분_B,하천거리구분_A,하천거리구분_B,sum,score
856,CAB285000936,성정중학교,36.830708,127.137961,1,66,1,1,25,27,...,32,0,5,10,4,47,0,0,1145,1220
174,ASB288001967,불당상업지구입구,36.811821,127.108607,1,27,11,0,270,36,...,74,0,2,7,0,3,1,0,1201,1217
855,CAB285000935,두정양돈농협,36.833573,127.138038,1,54,9,3,70,19,...,21,0,5,7,7,28,0,0,1085,1144
924,CAB285001024,두정도서관,36.833743,127.135533,1,49,13,5,79,18,...,22,0,7,6,8,23,0,0,1069,1128
904,CAB285000995,벽산블루밍아파트,36.826201,127.113307,0,8,15,1,10,2,...,1,0,1,10,430,114,0,0,131,1117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610,CAB285001988,불당한성아파트,36.803048,127.112259,1,12,16,5,81,7,...,0,0,2,12,5,15,0,0,357,398
342,CAB285000298,마정공단,36.864136,127.103842,0,0,0,0,0,0,...,0,0,0,2,153,80,0,0,3,391
693,CAB285000700,원동교,36.806289,127.160572,1,4,5,0,8,6,...,0,0,2,4,54,91,1,0,173,382
698,CAB285000705,버들로,36.806220,127.156469,1,6,4,3,20,9,...,0,0,1,6,23,112,1,0,214,382
1379,CAB285001621,코리아웨코스다㈜,36.860748,127.105078,0,0,0,0,0,0,...,0,0,0,1,93,194,0,0,1,382

# 클러스터링

In [267]:
from sklearn.cluster import KMeans

data = cutted_sorted_score_df.copy()
coordinates = data[['위도', '경도']]
num_clusters = 21 # You can change this number
kmeans = KMeans(n_clusters=num_clusters,random_state=98)

# Fit the model to the coordinates
kmeans.fit(coordinates)

# Add a new column to your DataFrame with the cluster labels
data['cluster'] = kmeans.labels_

# Print the cluster centers (the centroids)

'''
센트럴 포인트에서 가까운 정류장만 고려하기?
'''
print("Cluster Centers:")
print(kmeans.cluster_centers_)
print(data['cluster'].value_counts())

# Print the first few rows of the DataFrame with the cluster labels
data.head()

KMeans(n_clusters=21, random_state=98)

'\n센트럴 포인트에서 가까운 정류장만 고려하기?\n'

Cluster Centers:
[[ 36.81748402 127.15456872]
 [ 36.81429399 127.10881546]
 [ 36.86295439 127.11819889]
 [ 36.79985696 127.12770836]
 [ 36.82215294 127.13635223]
 [ 36.79940584 127.15755634]
 [ 36.8880455  127.1592123 ]
 [ 36.82252656 127.10753882]
 [ 36.83441429 127.13611405]
 [ 36.80145016 127.11786073]
 [ 36.81010687 127.13292346]
 [ 36.83407274 127.14568148]
 [ 36.82240167 127.14257082]
 [ 36.82351454 127.12030065]
 [ 36.80669541 127.15163426]
 [ 36.82985051 127.11029026]
 [ 36.79329222 127.12277532]
 [ 36.86244201 127.10446   ]
 [ 36.81083065 127.14028825]
 [ 36.78987946 127.12988926]
 [ 36.80443347 127.10845812]]
8     15
3     14
12    13
4     12
15    11
7     11
10    11
14    11
0     10
5     10
19    10
1      9
18     9
2      8
9      7
13     7
16     7
20     5
11     4
6      2
17     2
Name: cluster, dtype: int64

,정류장번호,정류장명,위도,경도,MT1,CS2,PS3,SC4,AC5,PK6,...,PM9,공원거리구분_A,공원거리구분_B,CH거리구분_A,CH거리구분_B,하천거리구분_A,하천거리구분_B,sum,score,cluster
856,CAB285000936,성정중학교,36.830708,127.137961,1,66,1,1,25,27,...,0,5,10,4,47,0,0,1145,1220,8
174,ASB288001967,불당상업지구입구,36.811821,127.108607,1,27,11,0,270,36,...,0,2,7,0,3,1,0,1201,1217,1
855,CAB285000935,두정양돈농협,36.833573,127.138038,1,54,9,3,70,19,...,0,5,7,7,28,0,0,1085,1144,8
924,CAB285001024,두정도서관,36.833743,127.135533,1,49,13,5,79,18,...,0,7,6,8,23,0,0,1069,1128,8
904,CAB285000995,벽산블루밍아파트,36.826201,127.113307,0,8,15,1,10,2,...,0,1,10,430,114,0,0,131,1117,15

## 클러스터수를 구하기 위한 inertia 구하기

In [ ]:
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

data = cutted_sorted_score_df.copy()
coordinates = data[['위도', '경도']]

# Determine a range of cluster numbers to try
num_clusters_range = range(1, 31)  # You can adjust the range as needed

inertias = []  # To store the inertia values

# Iterate through different cluster numbers and calculate inertia
for num_clusters in num_clusters_range:
    kmeans = KMeans(n_clusters=num_clusters, random_state=98)
    kmeans.fit(coordinates)
    inertias.append(kmeans.inertia_)

# Plot the elbow curve
plt.figure(figsize=(10, 6))
plt.plot(num_clusters_range, inertias, marker='o')
plt.title('Elbow Curve')
plt.xlabel('Number of Clusters')
plt.ylabel('Inertia')
plt.show()

In [ ]:
from matplotlib import pyplot as plt    
plt.figure(figsize=(10, 4))

plt.plot(kn, inertias, '-o')
plt.xlabel('number of clusters, k')
plt.ylabel('inertia')

plt.xticks([0,20,40,60,80,100,400])
plt.show()

#최적 클러스터 수 확인 -> 10개
from kneed import KneeLocator

kl = KneeLocator(range(1,len(inertias)+1), inertias, curve='convex', direction='decreasing')
optimal_k = kl.elbow
print(optimal_k)

In [ ]:
data['score'].describe()
# 마커 사이즈를 위한, 마커 크기 구하기
min_score = data['score'].min()
max_score = data['score'].max()

data['for_marker_size'] = 1 + ((data['score'] - min_score) / (max_score - min_score)) * 9
data['for_marker_size'] = data['for_marker_size'].round()
data

### pivot 테이블 만들기

In [ ]:
# 각 클러스터마다 집계하기

pivot_table = sorted_score_df.pivot_table(index=['cluster', '정류장번호'])

# Sort the pivot table by 'cluster' in ascending order and 'score' in descending order
sorted_pivot_table = pivot_table.sort_values(by=['cluster', 'score'], ascending=[True, False])
sorted_pivot_table

# 각 클러스터마다, score 점수가 높은 10개의 버스 정류장을 선별
top_10_by_cluster = sorted_pivot_table.groupby('cluster', group_keys=False).apply(lambda group: group.nlargest(10, 'score'))
top_10_by_cluster

bus_id_list= []
for idx in range(len(top_10_by_cluster)):
    data = top_10_by_cluster.index[idx][1]
    bus_id_list.append(data)

bus_id_list

K_df= sorted_score_df[sorted_score_df['정류장번호'].isin(bus_id_list)]
K_df

In [34]:
# import pandas as pd
# import folium



# # Load your DataFrame (ctc_df)
# # ctc_df = pd.read_csv('your_data.csv')
# ctc_df = sorted_score_df.head(188)

# # Convert latitude and longitude columns to float if needed
# ctc_df['위도'] = ctc_df['위도'].astype(float)
# ctc_df['경도'] = ctc_df['경도'].astype(float)

# # Calculate the mean latitude and longitude for centering the map
# center_lat = ctc_df['위도'].mean()
# center_lon = ctc_df['경도'].mean()

# # Create a Folium map centered at the mean location
# m = folium.Map(location=[center_lat, center_lon], zoom_start=12)

# # Add markers for each latitude and longitude pair in your DataFrame
# for index, row in ctc_df.iterrows():
#     folium.Marker(
#         location=[row['위도'], row['경도']],
#         popup=row['정류장명'],  # Optional popup information
#         icon=folium.Icon(color='blue')  # Optional icon customization
#     ).add_to(m)

# # Save the map to an HTML file
# path = '/Users/iseunghyeon/Desktop/프로젝트/data/folium시각화/{when}.html'.format(when=when)
# m.save(path)

## plotly

In [ ]:
import plotly.express as px


df = data.copy()
# Create a scatter map using Plotly Express
fig = px.scatter_mapbox(
    df,
    lat='위도',
    lon='경도',
    color='cluster',  # Color points based on the cluster column
    size_max=20,      # Adjust point size
    zoom=9,           # Initial map zoom level
    hover_name='정류장명',
    size='for_marker_size'
)

# Customize the map layout
# https://plotly.com/python/mapbox-layers/
map_style = ["open-street-map", "carto-positron", "carto-darkmatter", "stamen-terrain", "stamen-toner" ,"stamen-watercolor" ]
fig.update_layout(mapbox_style=map_style[0])  # Choose a map style
fig.update_layout(
    margin={'l': 0, 'r': 0, 't': 0, 'b': 0},  # Adjust margin
    mapbox=dict(center=dict(lat=36.83682, lon=127.2077)),  # Set initial center
)

# Show the plot
fig.show()

In [253]:
# 시각화 파일 다운로드
import plotly.io as pio
now = datetime.now()

when = now.strftime('%Y-%m-%d %H:%M:%S')

# Save the map to an HTML file
path = '/Users/iseunghyeon/Desktop/프로젝트/data/천안시_proj_data/plotly시각화/{when}.html'.format(when=when)
# fig.save(path)

pio.write_html(fig,path)

## folium

In [38]:
import pandas as pd
import folium
from datetime import datetime

now = datetime.now()

when = now.strftime('%Y-%m-%d %H:%M:%S')
when

# Load your DataFrame (ctc_df)
# ctc_df = pd.read_csv('your_data.csv')
ctc_df = sorted_score_df.head(188)

# Assuming you have the 'outer' DataFrame with latitude and longitude columns
# outer = pd.read_csv('outer_data.csv')

# Convert latitude and longitude columns to float if needed
ctc_df['위도'] = ctc_df['위도'].astype(float)
ctc_df['경도'] = ctc_df['경도'].astype(float)
outer['위도'] = outer['위도'].astype(float)
outer['경도'] = outer['경도'].astype(float)

# Calculate the mean latitude and longitude for centering the map
center_lat = (ctc_df['위도'].mean() + outer['위도'].mean()) / 2
center_lon = (ctc_df['경도'].mean() + outer['경도'].mean()) / 2

# Create a Folium map centered at the mean location
m = folium.Map(location=[center_lat, center_lon], zoom_start=12)

# Add markers for ctc_df with blue color
for index, row in outer.iterrows():
    folium.Marker(
        location=[row['위도'], row['경도']],
        popup=row['정류장명'],  # Optional popup information
        icon=folium.Icon(color='red')  # Blue icon
    ).add_to(m)

# Add markers for outer with red color
for index, row in ctc_df.iterrows():
    folium.Marker(
        location=[row['위도'], row['경도']],
        popup=row['정류장명'],  # Optional popup information
        icon=folium.Icon(color='blue')  # Red icon
    ).add_to(m)

# Save the map to an HTML file
path = '/Users/iseunghyeon/Desktop/프로젝트/data/folium시각화/{when}.html'.format(when=when)
m.save(path)